/* @st-import [B20, B40, D60, D80] from "../Foundation/stylable/colors.st.css";
@st-import Text from "../Text/Text.st.css"; */

.dropdown-root {
    position: relative;
    width: 100%;
}
.dropdown-root:focus {
    outline:none
}

.dropdown-root .adminShow {
    width: 100%;
    height: 40px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #dee4eb;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-root .adminTitle {
    margin: 0;
    padding: 2px;
    font-size: 16px;
}

.dropdown-root .dropdownContent {
    position: absolute;
    left: 0;
    width: 100%;
    top: 40px; 
    max-height: 300px;
    overflow: auto;
    margin-top: 3px;
    border: 1px solid #dee4eb;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0, .12);
    border-radius: 4px;
    z-index: 3;
} 

.dropdown-root .option {
    -st-states: actived;
    cursor: pointer;
    padding: 5px 25px;
    text-align: left;
}

.dropdown-root .optionTitle {
    margin: 0;
    padding: 5px 0;
}

.dropdown-root .option:hover {
    background-color: rgba(25, 149, 171, .1);
}

.dropdown-root .option.actived {
    background-color: rgb(25, 149, 171);
}
.dropdown-root .option.actived p {
    color: #ffffff;
}