.admin-main {
    position: relative;
    padding: 15px;

    .btn-home  {
        width: 28px;
        height: 28px;
        padding: 2px;
    }

    .btn-home:hover {
        background-color: rgba(0,0,0,.2);
    }

    .admin-wraper {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .admin-wraper .main-content {
        display: flex;
        width: 100%;
        margin-top: 15px;
        gap: 15px;
    }
     
    .admin-wraper .main-content .form-box {
        width: 40%;
    }
    
    .admin-wraper .admin-list {
        position: relative;
        flex: 1;
    }
} 

@media (max-width: 512px) {
    .admin-main { 
        .admin-wraper {
            .main-content {
                flex-direction: column;

                .form-box, .admin-list {
                    width: 100%;
                }
            }
        }
    }
}

